---
- name: Include OS-specific variables.
  ansible.builtin.include_vars:
    file: "{{ ansible_distribution }}.yml"

- name: Inlcude tasks
  ansible.builtin.include_tasks: "{{ task_name }}"
  loop:
    - prepare_dhparam.yml
    - prepare_conf.yml
  loop_control:
    loop_var: task_name