{{ ansible_managed | comment }}

# -- Gzip
gzip {{ 'on' if (gzip_params.enabled) else 'off' }};
gzip_buffers {{ gzip_params.buffers_count }} {{ gzip_params.buffer_size }};
gzip_comp_level {{ gzip_params.comp_level }};
gzip_vary {{ gzip_params.vary }};
gzip_static {{ gzip_params.static }};
gzip_http_version {{ gzip_params.http_version }};
gzip_types {{ gzip_params.types | join(',')}};
gzip_min_length {{ gzip_params.min_length }};
gzip_disable {{ gzip_params.disable }};
gzip_proxied {{ gzip_params.proxied }};